@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Most secure, trusted, free and easy Vigenere and Caesar Text and Password storage!</p>

</div>

